%h1 Leads

%p We are sorry, nobody is interested, but don't take it personally

%ul
  - @leads.each do |lead|
    %li{:id => "signups_lead_#{lead.id}"} #{lead.email_address} has brought #{lead.signup_count} signups

